*{margin:0;padding:0;}
.header{width:100%;height:76px;background-color: #fff;}
.header1{width:993px;height:100%;margin:0 auto;}
.header1 .qczj{width:130px;float: left;}
.header1 .right{float: right;margin-right:27px;margin-top: 40px;width:97px;height: 16px;}
.header1 .right img{height: 16px;vertical-align: top;}
.header1 .right span a{font-size: 16px}
.header1 .right span a:hover{color: red;}
.main{width:100%;height:590px;background-color: #ededed;}
.main1{width:993px;height:100%;margin:0 auto;}
.main1 .left{width: 547px;height:590px;float: left}
.main1 .right{float: left;width:420px;height:434px;margin-top:77px;background-color: #fff;}
.main1 .right .one{margin-left:62px;margin-top:35px;height: 16px;font-size: 16px;}
.main1 .right .one span:nth-child(1){font-weight:bolder; }
.main1 .right .one span:nth-child(2){cursor: pointer;color: #3a5998;margin-left: 90px;}
.main1 .right .two{margin-left:62px;height:160px;}
.main1 .right .two input{margin-top:20px;font-size: 12px;width:290px;height:30px;color: #a9a9a9}
.main1 .right .three{margin-left:62px;height:24px;}
.main1 .right .three span{height:12px;font-size: 12px;}
.main1 .right .three span:nth-child(3){margin-left:120px;cursor: pointer;}
.main1 .right #denglu{background-color: #ff7700;color: #fff;font-size: 14px;margin-left:62px;width:290px;height: 32px;cursor: pointer;}
.main1 .right .four{height:65px;margin-top: 12px;margin-left:62px;border-bottom: 1px solid #efefef;}
.main1 .right .four a{cursor: pointer;margin-left:240px;font-size: 12px;}
.main1 .right .four a:hover{color: red;}
.main1 .right .five{margin-left:62px;}
.main1 .right .five span:nth-child(1){margin-top: 20px;font-size: 12px;margin-bottom: 12px;display: block ;color:#9a9a9a;}
.main1 .right .five .sp1 img{vertical-align: bottom;}
.main1 .right .five .sp1 a{color: #014397;margin-left:5px;cursor: pointer}
.main1 .right .five .sp1 a:hover{color: red;}
.main1 .right .five .sp2 img{vertical-align: bottom;}
.main1 .right .five .sp2 a{color: #014397;margin-left:5px;cursor: pointer}
.main1 .right .five .sp2 a:hover{color: red;}
.main1 .right .five .sp3 img{vertical-align: bottom;}
.main1 .right .five .sp3 a{color: #014397;margin-left:5px;cursor: pointer}
.main1 .right .five .sp3 a:hover{color: red;}
.main1 .right1{float: left;margin-top:308px;width: 25px;height: 121px;}
.footer{width:100%;height:82px;background-color: #fff;border-top: 2px solid #a1a0a0 ;background-color: #eceeed;}
.footer1{margin:0 auto;font-size:14px ;color: #928383;width:993px;margin-top:27px;text-align: center;}