body{background-color: #fafafa;}
.top{width: 100%;height:31px;border-bottom: 1px solid #e7e7e7;background-color:#f7f7f7; }
.box{width:1173px;height:31px;margin:0 auto;}
.box .left{float: left;height: 31px;}
.box .right{float: right;height:31px;width:390px}
.box .right ul{width:390px;height:100%;}
.box .right ul li{float: left;margin-left:14px;display: block;text-align: center;line-height: 31px;}
.box .right ul li a{color: #838489;cursor:pointer;}
.box .right ul li a:hover{color: #9e0505;}
.box1{width:1173px;height:112px;margin:0 auto;position: relative;}
.box1 .left{float: left}
.box1 .right{float: right;height:100%;width:500px}
.box1 .right input{background: url("../images/1_3.gif") no-repeat;padding-left: 30px;width: 404px;height: 32px;
    border:2px solid #303940;color: #c7c7c7;position: absolute;top:35px;right:90px}
.box1 .right .one{background-color: #303940;font-size: 16px;color: #fff;width: 90px;height: 36px;position: absolute;top:35px;right:0px;
    line-height: 36px;text-align: center;}
.box1 .right .guanzhu{position: absolute;top:76px;right: 260px;color: #838489;height: 14px;}
.box1 .right .guanzhu a{color: #838489;cursor:pointer;}
.box1 .right .guanzhu a:hover{color: #303940}
/*以上是top*/

#nav{width:1173px;height:481px;margin:0 auto;position: relative;margin-top:115px;}
#nav ._nav_top{width:1173px;height:42px;margin:0 auto;}
#nav ._nav_top ._left{float: left;width:226px;height:42px;font-size: 16px;color: #fff;background-color:#ea3d1f;line-height: 42px;padding-left:16px; }
#nav ._nav_top ._right{float: left;width:931px;height:42px; background-color:#354157;line-height: 42px;}
#nav ._nav_top ._right span{width: 110px;height:42px;display: block;float: left;text-align: center;cursor: pointer;}
#nav ._nav_top ._right span a{color: #fff;font-size: 16px;width: 110px;height:42px;display: block;}
#nav ._nav_top ._right span a:hover{background-color: #738899;}
#nav ._nav_bottom{width:1173px;height:438px;margin:0 auto;border-bottom: 1px solid #e7e7e7;}
#nav ._nav_bottom  ._nav_bottom_left{width:242px;height:440px;float: left;}
#nav ._nav_bottom  ._nav_bottom_right{width:931px;height:440px;float: left;position: relative;}


